@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Vidaloka&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* --background: 60 56% 91%; Background color */
    /* --primary: 240 100% 25%; Main theme color */
    /* --secondary: 205 100% 85.88%; Supporting theme color */
    /* --accent: 26.53 86.98% 66.86%; For highlights or call-to-action */
    /* --error: 2.9 65.02% 56.27%; */
    /* --text-primary: 240 100% 25%; Dark text color */
    /* --text-secondary: 205 100% 86%; Lighter text color */
    /* --border: 0 0% 90%; Border or divider color */
    /* --white: 0 0% 100%; White for contrast */
    /* --black: 0 0% 17.25%; Black for Dark */
    /* --grey: 0 0% 50%; Gray for Medium */

    --background: 0 0% 98%; /* #fbfbfb */
    --primary: 266 100% 13%; /* #1d0042 */
    --secondary: 268 82% 27%; /* #400c7c */
    --tertiary: 0 0% 31%; /* #4f4f4f */
    --accent: 41 100% 62%; /* #ffc33e */
    --error: 0 100% 50%; /* #ff0000 */
    --black: 0 0% 17.25%; /* Black for Dark */
  }

  .dark {
    --background: 60 56% 91%; /* Background color */
    --primary: 240 100% 25%; /* Main theme color */
    --secondary: 205 100% 86%; /* Supporting theme color */
    --accent: 27 87% 67%; /* For highlights or call-to-action */

    --text-primary: 240 100% 25%; /* Dark text color */
    --text-secondary: 205 100% 86%; /* Lighter text color */
    --border: 0 0% 90%; /* Border or divider color */
    --white: 0 0% 100%; /* White for contrast */
    --black: 0 0% 0%; /* Black for Dark */
    --grey: 0 0% 50%; /* Gray for Medium */
  }
}

@layer base {
  * {
    @apply border-black;
  }

  body {
    @apply bg-background text-primary font-body ;
  }
}


/* Scroll Bar Design  */
::-webkit-scrollbar {
  width: 5px;
  height: 80px;
}
/* Track */
::-webkit-scrollbar-track {
  background: hsl(60, 56%, 91%);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(240 100% 25%);
  border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(240, 100%, 25%, 0.85);
}
::-webkit-backdrop-filter {
  blur: 3px saturate(106%);
}

/* Prevent Google Autofill from changing text and background color */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px hsl(205 100% 85.88%) inset; /* Set to transparent to prevent background color change */
  box-shadow: 0 0 0 30px hsl(205 100% 85.88%) inset; /* Prevent background color change */
  -webkit-text-fill-color: hsl(
    240 100% 25%
  ); /* Inherit text color from the parent or default styles */
}

/* password eye button disabling*/
input::-ms-reveal,
input::-ms-clear,
input::-webkit-clear-button {
  display: none;
}
body{
  overflow-x: hidden;
  font-family: "Nunito", "serif";
}

label {
  color: #1d0042;
  font-weight: bolder;
}

/* Hide the Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
/* Custom Pagination Lines */
.swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  background: hsl(205 100% 85.88%); /* Navy blue color for the lines */
  margin: 0 5px; /* Spacing between lines */
  opacity: 0.6; /* Slight transparency for inactive lines */
  transition: all 0.3s ease; /* Smooth transition on hover */
  border-radius: 40px;
}

.swiper-pagination-bullet-active {
  background: #1d0042; /* Highlighted color for the active line */
  opacity: 0.6; /* Fully opaque for the active line */
  transform: scale(1.25); /* Slightly enlarge the active line */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 10px; /* Slightly smaller width for mobile */
    height: 2px; /* Keep the height consistent */
    margin: 0 3px; /* Reduce spacing between bullets */
  }
}

.slider {
  opacity: 0;
  transform: translateY(30px); /* Slight upward motion */
  animation: FadeIn 1.2s ease-out both;
  animation-timeline: view();
  animation-range: entry 60% cover 40%;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Start slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}

.reveal {
  opacity: 0;
  transform: translateY(30px); /* Slight upward motion */
  animation: FadeIn 1.2s ease-out both;
  animation-timeline: view();
  animation-range: entry 60% cover 40%;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Start slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
} 