@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Vidaloka&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 60 56% 91%; /* Background color */
    --primary: 240 100% 25%; /* Main theme color */
    --secondary: 205 100% 85.88%; /* Supporting theme color */
    --accent: 26.53 86.98% 66.86%; /* For highlights or call-to-action */
    --body-text:0 0% 17.25%;

    --text-primary: 240 100% 25%; /* Dark text color */
    --text-secondary: 205 100% 86%; /* Lighter text color */
    --border: 0 0% 90%; /* Border or divider color */
    --white: 0 0% 100%; /* White for contrast */
    --black: 0 0% 0%; /* Black for Dark */
    --grey: 0 0% 50%; /* Gray for Medium */
  }

  .dark {
    --background: 60 56% 91%; /* Background color */
    --primary: 240 100% 25%; /* Main theme color */
    --secondary: 205 100% 86%; /* Supporting theme color */
    --accent: 27 87% 67%; /* For highlights or call-to-action */

    --text-primary: 240 100% 25%; /* Dark text color */
    --text-secondary: 205 100% 86%; /* Lighter text color */
    --border: 0 0% 90%; /* Border or divider color */
    --white: 0 0% 100%; /* White for contrast */
    --black: 0 0% 0%; /* Black for Dark */
    --grey: 0 0% 50%; /* Gray for Medium */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-primary font-body;
  }
}
