@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Vidaloka&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 60 56% 91%; /* Background color */
    --primary: 240 100% 25%; /* Main theme color */
    --secondary: 205 100% 85.88%; /* Supporting theme color */
    --accent: 26.53 86.98% 66.86%; /* For highlights or call-to-action */
    --error: 2.9 65.02% 56.27%;
    --text-primary: 240 100% 25%; /* Dark text color */
    --text-secondary: 205 100% 86%; /* Lighter text color */
    --border: 0 0% 90%; /* Border or divider color */
    --white: 0 0% 100%; /* White for contrast */
    --black: 0 0% 17.25%; /* Black for Dark */
    --grey: 0 0% 50%; /* Gray for Medium */
  }

  .dark {
    --background: 60 56% 91%; /* Background color */
    --primary: 240 100% 25%; /* Main theme color */
    --secondary: 205 100% 86%; /* Supporting theme color */
    --accent: 27 87% 67%; /* For highlights or call-to-action */

    --text-primary: 240 100% 25%; /* Dark text color */
    --text-secondary: 205 100% 86%; /* Lighter text color */
    --border: 0 0% 90%; /* Border or divider color */
    --white: 0 0% 100%; /* White for contrast */
    --black: 0 0% 0%; /* Black for Dark */
    --grey: 0 0% 50%; /* Gray for Medium */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-primary font-body;
  }
}
/* Prevent Google Autofill from changing text and background color */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px hsl(205 100% 85.88%) inset; /* Set to transparent to prevent background color change */
  box-shadow: 0 0 0 30px hsl(205 100% 85.88%) inset; /* Prevent background color change */
  -webkit-text-fill-color: hsl(
    240 100% 25%
  ); /* Inherit text color from the parent or default styles */
}
/* password eye button disabling*/
input::-ms-reveal,
input::-ms-clear,
input::-webkit-clear-button {
  display: none;
}

.react-datepicker {
  background-color: #f4e8da; /* Light beige background */
  color: #000080; /* Navy text */
  border: 1px solid #ba9659; /* Border color */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.react-datepicker__header {
  background-color: #ba9659; /* Header background */
  color: #ffffff; /* Header text color */
  border-bottom: 1px solid #838a60;
}

.react-datepicker__current-month {
  font-size: 16px;
  font-weight: bold;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__month {
  color: #000080; /* Navy text color for days/months */
  font-size: 14px;
  font-weight: bold;
}

.react-datepicker__day:hover,
.react-datepicker__month:hover {
  background-color: #6d7451; /* Hover background */
  color: #ffffff; /* Hover text color */
}

.react-datepicker__day--selected,
.react-datepicker__month--selected {
  background-color: #838a60; /* Selected date background */
  color: #ffffff; /* Selected date text */
}
.react-datepicker__navigation {
  background-color: #ba9659; /* Arrow button background */
  color: white;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.react-datepicker__navigation:hover {
  background-color: #6d7451; /* Hover effect */
}
.react-datepicker__month-dropdown,
.react-datepicker__year-dropdown {
  background-color: #838a60;
  color: white;
  border-radius: 4px;
  padding: 5px;
}

label {
  color: #000080;
  font-weight: bolder;
}

/* Hide the Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
/* Custom Pagination Lines */
.swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  background: hsl(205 100% 85.88%); /* Navy blue color for the lines */
  margin: 0 5px; /* Spacing between lines */
  opacity: 0.6; /* Slight transparency for inactive lines */
  transition: all 0.3s ease; /* Smooth transition on hover */
  border-radius: 40px;
}

.swiper-pagination-bullet-active {
  background: #000080; /* Highlighted color for the active line */
  opacity: 0.6; /* Fully opaque for the active line */
  transform: scale(1.25); /* Slightly enlarge the active line */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 10px; /* Slightly smaller width for mobile */
    height: 2px; /* Keep the height consistent */
    margin: 0 3px; /* Reduce spacing between bullets */
  }
}
